<table>
 <caption>Character Stat Table table</caption>
 <thead>
  <tr>
   <th>
   <th> Strength 
   <th> Intelligence
   <th> Defense
   <th> Speed
   <th> Luck
 <tbody>
  <tr>
	 <td> <i>Barbarian</i>
   <td> 75
   <td> 25
   <td> 35
   <td> 40
   <td> 25
  <tr>
   <td> <i>Wizard</i>
   <td> 15
   <td> 75
   <td> 25
   <td> 35
   <td> 40
  <tr>
   <td> <i>Battle Mage</i>
   <td> 50
   <td> 50
   <td> 40
   <td> 25
   <td> 35
  <tr>
   <td> <i>Paladin</i>
   <td> 40
   <td> 35
   <td> 65
   <td> 25
   <td> 35
  <tr>
   <td> <i>Rogue</i>
   <td> 25
   <td> 40
   <td> 35
   <td> 75
   <td> 50
 <tfoot>
   <tr> 
    <th colspan= "2" > Low Stats/High Stats
    <td colspan= "4" > The Wizard: 190 / The Rogue: 225
</table>
